.defi {
  border-color: cadetblue;
  border-style: double;
  font-size: 22px;
  padding: 13px;
  text-align: center;
  font-family: Georgia;

}

.defi h4 {
  color: darkcyan;
}

.defi .desc {
  color: darkslategray;
  font-size: 24px;
}

.defi .long {
  color: steelblue;
}


