<p>Nouveau parcours :</p>
<form (ngSubmit)="ajouterParcours(); parcform.reset();" #parcform="ngForm">
<input type="text" name="nom" [(ngModel)]="nomParc" placeholder="Nom parcours" required>
<input type="text" name="desc" [(ngModel)]="descParc" placeholder="Description parcours" required>
<input type="text" name="prix" [(ngModel)]="prix" placeholder="Prix" required>
<input type="text" name="idcat" [(ngModel)]="idCat" placeholder="Catégorie (id)" required>
<button mat-fab>Ajouter</button>
</form>
<br>
<app-liste-parcours (selectParcours)="getParcoursData($event)"></app-liste-parcours>
<app-modif-parcours [parc]="toUpParcours"></app-modif-parcours>

<!--pas touche à la liste de catégories-->
<app-liste-categories></app-liste-categories>
