<p>Parcours :</p>

<div class="toScrollListes">
  <ul>
    <!--SELECT DIFF DEFIS !-->
    <li *ngFor="let parcours of parcourss" (click)="select(parcours); parcoursService.select(parcours)">
      {{ parcours.idParcours}} - {{ parcours.nomParcours }} - {{ true == parcours.activeParcours ? 'Actif' : 'Inactif'}}
    </li>
  </ul>
</div>

<p *ngIf="parcoursService.selection != null"><u>Parcours sélectionné :</u><br> Id : {{ parcoursService.parcoursId}} | nom : {{ parcoursService.selection.nomParcours }} | description : {{ parcoursService.selection.descParcours}} | prix : {{ parcoursService.selection.prix }}€ <br> (catégorie {{ parcoursService.selection.categorie.idCategorie }} {{ parcoursService.selection.categorie.nomCategorie }}) </p>

<button mat-fab (click)="getAllParcours()">Refresh</button>
<br>
