<h4>Composition des parcours</h4>
<app-liste-parcours></app-liste-parcours>
<br>
<hr>
<button (click)="seeDefisInParcours()">Voir les défis du parcours</button>
<ul>
  <li *ngFor="let defi of defis" (click)="selectDefi(defi)">{{ defi.nomDefi }} {{ defi.descDefi}}</li>
</ul>
<button *ngIf="parcoursService.selection && defi" (click)="removeDefiFromParcours(defi)">Retirer le défi du parcours {{ parcoursService.parcoursId }} {{ parcoursService.selection.nomParcours }}</button>

<!--
ajouter un défi dans le parcours
-->
