<h4>Démarrer un parcours</h4>
<app-liste-parcours></app-liste-parcours>

<p *ngIf="isBrianBusy === true" style="color: red">Vous avez déjà un parcours en cours, terminez tous vos défis pour pouvoir démarrer un nouveau parcours !</p>

<br>
<button (click)="start(userId, parcoursService.parcoursId)">Commencer !</button>
<br>

<hr>
<div *ngIf="userModel?.roleId == 2">
  Vue pour l'administrateur uniquement :
  <ul *ngFor="let x of parcUtilLiaisons">
    <li> PARCOURS : {{ x.idParcours }} {{ x.nomParcours }} | UTILISATEUR : {{ x.idUtilisateur }} {{ x.email }} | DATE DEBUT : {{ x.dateAchat }} | EN COURS : {{ true == x.ongoing ? 'Oui' : 'Non' }} (taille {{ x.taille}})</li>
  </ul>
</div>

