<h4>Créer un compte</h4>

<form [formGroup]="createForm" (ngSubmit)="inscrireUtilisateur()">
  <input type="text" name="nom" placeholder="Nom" formControlName="nom">
  <input type="text" name="prenom"  placeholder="Prénom"  formControlName="prenom">
  <input type="text" name="datenaiss"  placeholder="Date de naissance" formControlName="datenaiss">
  <input type="email" name="email" placeholder="Adresse e-mail" formControlName="email">
  <input type="text" name="pw"  placeholder="Mot de passe" formControlName="pw">
  <!-- meh -->
<!--  <input type="checkbox" name="newsletter" [(ngModel)]="newsletterU">-->
  <!-- -->
  <br>
  <button class="btn" *ngIf="createForm.valid">S'inscrire</button>
</form>

